html {
    scroll-behavior: smooth;
}

/* slider */
.container {
    margin-bottom: 100px;
}

.custom-bg {
    background: #fceae8;
    border-radius: 10px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #f51fc6a4;
}

.buy-now-btn {
    background-image: linear-gradient(to bottom, #f800d7 0%, #fc03e7 100%);
    border: none;
    padding: 9px 25px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

/* categories */

.cat-1,
.cat-2,
.cat-3 {
    border-radius: 5px;
    padding: 10px 40px;
}

.cat-1 {
    background: linear-gradient(to left, #e08e30 20%, #976309 80%);
}

.cat-2 {
    background: linear-gradient(to left, #c03fa0 20%, #880576 80%);
}

.cat-3 {
    background: linear-gradient(to left, #484ab1 20%, #060486 80%);
}

.categories h1 {
    color: #fff;
}

.categories img {
    width: 100px;
}

/* card css */
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 8px;
}

.card-footer {
    background: white;
    border-top: none;
}

#contact {
    height: 300px;
}

#contact h6 {
    color: gray;
}

#contact input {
    margin-bottom: 5px;
}